<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extract Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Extract Data</h1>
        <!-- Flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                    {% for message in messages %}
                        <div class="flash-message">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form method="POST" enctype="multipart/form-data">
            <label for="otp">Enter the OTP:</label>
            <input type="text" id="otp" name="otp" placeholder="Enter OTP" required>

            <p><button type="submit" class="btn hover-btn next-btn">Verify OTP</button></p>
        </form>
        <a href="{{ url_for('index') }}" class="btn back-btn">Back to Main Menu</a>
    </div>
</body>
</html>
